.header
{
    width: 100%;
    margin: 0px;
    font-size: 20px;
    box-shadow: 15px 15px 30px black;
    font-family: cursive;
    font-weight: bold;
}
.header2
{
    float:none;
    background:white;
    padding: 10px;
    color: black;
    border-radius: 20px;
}
.footer
{
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: yellow;
}
canvas
{
    border:5px solid yellow;
    margin-top: 100px;
}